# Spotify API Credentials
# Get these from https://developer.spotify.com/dashboard
SPOTIFY_CLIENT_ID=48e9d2e7bc384c219fced5fb2d79ba16
SPOTIFY_CLIENT_SECRET=7e7884becf424346899e6ae94649e12a
SPOTIFY_REDIRECT_URI=http://127.0.0.1:8001/auth/spotify/callback

# Frontend URL
FRONTEND_URL=http://localhost:3001

# Database (automatically configured in docker-compose)
DATABASE_URL=sqlite:///./tasteexplorer.db

# Redis (automatically configured in docker-compose)
REDIS_URL=redis://localhost:6379/0

# Environment
ENVIRONMENT=development
